*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    .header{
        background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(img/bg-edu.jpg);
        max-height: ৭00px;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
   .menu{
       width: 100%;
   }
    .menu-link{
        text-decoration: none;
        font-size: 17px;
        color: white;
        margin: 2% 5%;
        display: inline-block;
       transition: .5s;
    }
    .menu-link:hover{
        color: orange;
       transition: .5s;
    }
}








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {   
    .header{
        background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(img/bg-edu.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .menu-link {
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        color: white;
        padding: 10px 0px;
        display: block;
        transition: .5s;
    }
    .menu-link:hover{
        color: white;
        background-color:  #8a6767;
        transition: .5s;
    }
    .search-content{
        display: none;
    }



    /* copy to pest code */
    .mobile-container {
        max-width: 100%;
        margin: 0 0 64px 0px;
        background-color: #555;
        color: white;
        border-radius: 10px;
    }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #04AA6D;
        color: white;
      }


    /* login-main */
    .login-main{
        display: none;
    }




    /* main-content code */
    .main-content{
        max-width: 80%;
        top: 50%;
        left: 50%;
        margin: auto;
    }
    .content-h1{
        color: wheat;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .content-pera1 {
        color: white;
        font-size: 16px;
        margin: 23px 0 45px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .content-btn{
        display: block;
        text-align: center;
    }
    .main-btn {
        color: white;
        font-size: 17px;
        padding: 2% 4%;
        text-decoration: none;
        margin: 12px 5%;
        background: transparent;
        border: 1px solid orange;
        transition: .7s;
        border-radius: 8px;
        display: inline-block;
    }
    .main-btn:hover{
        background-color: orange;
        border: none;
        transition: .7s;
        border-radius: 8px;
    }


/* main card section code */
    .card1 {
        float: left;
        width: 50%;
        margin: 0px 0px 14px 4px;
        padding: 4px 4px;
        border: 1px solid wheat;
        transition: .7s;
    }
    .card1:hover{
        box-shadow: 0 0 10px 3px gray;
        border: none;
        transition: .7s;
    }
    .content-img{
        height: 100px;
        width: 100%;
    }
    .header4{
        color: orange;
        text-align: center ;
        font-size: 19px;
    }
    .content-pera3{
        font-size: 11px;
    }
    .sontent-pera3-span{
        display: none;
    }
    .content-btn3 {
        padding: 5px 30px;
        margin: auto;
        font-size: 15px;
        background-color: gainsboro;
        border: 1px solid black;
        border-radius: 5px;
        display: block;
    }
    #content-span{
        display: none;
    }
    .content-btn3:hover{
        color: white;
        background-color: orange;
    }



    /* contact-section */
    .contact-section{
        width: 95%;
        margin: auto;
    }
    .contact-us{
        text-align: center;
        display: block;
    }
   .div10{
       width: 90%;
       height: 650px;
       margin: auto;
       background-color: lavender;
   }
    #contact-img{
        width: 100%;
        float: left;
    }
    .right-div {
        width: 90%;
        height: 403px;
        background-color: lavender;
        margin: auto;
        border: none;
        border-radius: 8px;
    }
    .label{
        font-size: 18px;
        display: block;
        text-align: center;
    }
    .input-name {
        width: 80%;
        height: 10%;
        margin: 0 0 19px 10%;
        border: none;
        border-radius: 7px;
    }
    #sub-btn {
        width: 45%;
        height: 11%;
        /* padding: 10px 48px; */
        border: none;
        font-size: 29px;
        border-radius: 7px;
        background-color: #4bb7b7;
        margin: auto;
        display: block;
    }
    #sub-btn:hover{
        color: white;
        background-color: orchid;
    }


    .lorem-content {
        display: block;
        margin: auto;
        width: 90%;
        background-color: #beb3b3a6;
        box-sizing: border-box;
    }
    #lorem-header{
        font-size: 20px;
        text-align: center;
    }
    .lorem{
        text-align: justify;
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 10px ;
    }
    .main-fotter{
        width: 100%;
        display: block;
        background: #8a6767;
    }
    #link5{
        text-decoration: none;
        color: wheat;
        text-align: center;
        padding: 10px 0px ;
        display: block;
    }
    #span5{
        color: white;
    }
    .menu{
        display: none;
    }
}






    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .header{
            background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(img/bg-edu.jpg);
            height: 100vh;
            max-width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }
       .menu{
           width: 100%;
           position: relative;
       }
        .menu-link{
            text-decoration: none;
            font-size: 20px;
            color: white;
            margin: 1% 4%;
            display: inline-block;
            transition: 0.6s;
        }
        .menu-link:hover{
            color: orange;
            transition: 0.6s
        }
        .sub-menu{
            color: white;
            text-decoration: none;
            background-color: gray;
            padding: 10px 20px;
       
        }
        .menu-link:hover sub-menu {
            display: block;     
        }




        /* search sectjon code */
        .search-content{
            float: right;
            position: absolute;
            top: 0;
            right: 0;
        }
        .search-box {
            padding: 9px 30px;
            margin: 10px 24px 0px 0px;
            border-radius: 6px 0px 0px 6px;
            border: 1px solid orange;
            background: transparent;
            color: aliceblue;
        }
        .search-box::placeholder{
            color: white;
        }
        .search-btn {
            padding: 10px 16px;
            margin: 20px 54px 0px -28px;
            border-radius: 0px 6px 6px 0px;
            background-color: orange;
            border: none;
            color: white;
        }

        /*login section code  */
        .login-main {
            width: 300px;
            height: 327px;
            float: right;
            background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7));
            border-radius: 18px;
            box-sizing: border-box;
            top: 0;
            right: 0;
            margin: auto;
            margin: 101px 44px 0 0;
            font-size: 20px;
            color: white;
            text-decoration: none;
            padding: 10px 25px;
            display: block;       
            transition: .7s;
        }
      
        .login:hover{
            color: orange;
            transition: .7s;
        }
        #login-h1 {
            font-size: 26px;
            color: white;
            padding: 6px;
            margin: 18px 0px 0 0;
            text-align: center;
            background-color: #8a6767;
            border-radius: 5px;
        }
        #email-input {
            color: white;
            padding: 9px 16px;
            margin-top: 21px;
            width: 100%;
            border: none;
            border-bottom: 1px solid orange;
            background: transparent;
        }
        #email-input::placeholder{
            color: white;
            font-size: 16px;
        }
        #password-input{
            color: white;
            padding: 9px 16px;
            margin-top: 21px;
            width: 100%;
            border: none;
            border-bottom: 1px solid orange;
            background: transparent;
        }
        #password-input::placeholder{
            color: white;
            font-size: 16px;
        }
        #login-btn2 {
            color: white;
            padding: 10px 36px;
            background: orange;
            border: none;
            font-size: 16px;
            border-radius: 5px;
            margin: 10px 0px 0 77px;
            transition: .6s;
        }
        #login-btn2:hover{
            border: 1px solid orange;
            background: transparent;
            transition: .6s;
            box-sizing: border-box;
        }
        .logo-a-link {
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            color: wheat;
            display: block;
            transition: 0.5s;
        }
        .logo-a-link:hover{
            color: orange;
            transition: 0.5s;
        }

        .main-content {
            height: 65%;
            width:100%;
            text-align: center;
            margin: 100px 0 0 30px;
            position: relative;
        }
        .content-h1{
            color: rgb(232 232 232);
            font-size: 35px;
        }
        .content-pera1 {
            color: rgb(155, 155, 155);
            font-size: 25px;
            text-align: justify;
            margin: 20px 0 30px 0;
        }
        .main-btn{
            color: white;
            text-decoration: none;
            /* background: transparent; */
            padding: 10px 20px ;
            background-color: orange;
            font-size: 17px;
            border: none;
            border-radius: 5px;
            margin: 5vh 5vh ;
           transition: .6s;
        }
        .main-btn:hover{
            background-color: olivedrab;
            transition: .6s;
        }


        .main-card{
            width: 100%;
            margin: auto;
        }
        .card1 {
            float: left;
            width: 31%;
            margin: 0px 0px 38px 22px;
            padding: 4px 4px;
            border: 2px solid wheat;
            transition: .6s;
        }
        .card1:hover{
            box-shadow: 0 0 5px 5px gray;
            transition: .6s;
        }
        .div10{
            width: 30%;
            float: left;
        }
        .content-img{
            height: 224px;
            width: 100%;
        }
        .header4{
            color: orange;
            text-align: center ;
        }
        .content-pera3{
            font-size: 17px;
            text-align: justify;
            margin: 20px 0;
        }
        .content-btn3 {
            font-size: 16px;
            padding: 10px 40px;
            background-color: gainsboro;
            border: 1px solid black;
            margin: auto;
            display: block;
            transition: .6s;
            border-radius: 5px;
        }
        .content-btn3:hover{
            background-color: orchid;
            color: white;
            transition: .6s;
        }
        


        /* contact us section */
        .contact-section {
            width: 95%;
            height: 71vh;
            margin: auto;
            background-color: #e7e7e7;
            box-shadow: 0 0 4px 4px grey;
            border: 1px solid white;
            position: relative;
            border-radius: 7px;
        }
        .contact-us{
            text-align: center;
        }
        .input-name{
            display: block;
            border-radius: 5px;
            border: 1px solid wheat;
            padding: 10px 30px;
        }
        .right-div{
            float: right;
            margin: 10px 20px 0 0;
        }
        .lable{
            text-align: center ;
            margin: auto;
        }
        #sub-btn{
            padding: 10px 30px;
            background-color: orange;
            font-size: 17px;
            border: none;
            border-radius: 5px;
            transition: .5s;
        }
        #sub-btn:hover{
            color: white ;
            background: green;
            transition: .5s;
        }
        #contact-img {
            background-size: -3px;
            width: 70%;
            box-sizing: border-box;
            height:420px;
            float: left;
        }
        .lorem-content{
            float: left;
            width: 30%;
        }
        
        /* fotter section */
        .main-fotter{
            height: 50px;
            width: 100%;
            display: block;
            text-align: center;
            background-color: #8a6767
        }
        #link5 {
            text-decoration: none;
            font-size: 17px;
            color: wheat;
            text-align: center;
            padding: 1% 0;
            display: block;
        }
        #span5{
            text-decoration: none;
            color: white;
            text-align: center;
        }



        .mobile-container{
            display: none;
        }

        
    }

























/* 
.header{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(img/bg-edu.jpg);
    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.menu{
    width: 100%;
}
.menu-link{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 2% 10%;
    display: inline-block;
} */